<h3>Books</h3>

<table>
	<thead>
			<th>Title</th>
			<th>Body</th>
			<th></th>
	</thead>

	<tbody>
		<% @books.each do |post| %>
		<tr>
			<td><%= book.title %></td>
			<td><%= book.body %></td>
			<td>
				<%= link_to "Show", post_path(@book.id) %>
				<%= link_to "Edit", edit_path(@book.id) %>
				<%= link_to "Destroy", destroy_path(@book.id), method: :delete, "data-confirm" => "?" %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>